# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
*.expo/*

# Native build folders
android/
ios/

# Environment and logs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
