# Dependency directories
node_modules/

# Expo build and cache directories
.expo/
dist/
web-build/

# Local env files
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# System Files
.DS_Store
Thumbs.db
